*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

div.chooseScreen{
    position: absolute;
    top:40px;
    left:50%;
    transform: translateX(-50%);
}

div.chooseScreen p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

div.chooseScreen button{
    margin-left: 50px;
    font-size: 30px;
    padding: 5px;
    width:100px;
    border: 1px solid rgb(0, 0, 100);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

div.chooseScreen label{
    font-size: 20px;
}


div.container{
    line-height: 20px;
}

div.container.small{
    position: absolute;
    width: 200px;
    height: 200px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.container.mid{
    position: absolute;
    width: 400px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.container.big{
    position: absolute;
    width: 600px;
    height: 600px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.hide{
    width:600px;
    height: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}

div.square{
    width:20px;
    height: 20px;
    border:1px solid white;
    color:black;
    font-size: 0;
    text-align: center;
}




div.container div.goodSquare{
    background-color: rgb(0, 170, 0);
    /* font-size:0px; */
}

div.container div.square.badSquare{
    background-color: rgb(200, 0, 0);;
}

#hide{
    background-color: rgb(0, 0, 100);;
}


div.loose{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    width: 400px;
    height: 150px;
    background-color: #000;
    color:white;
    text-align: center;
    line-height: 150px;
    display: none;
    text-transform: uppercase;
    z-index: 1000;
}

div.win{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    width: 600px;
    height: 150px;
    background-color: #000;
    color:white;
    text-align: center;
    line-height: 150px;
    display: none;
    text-transform: uppercase;
    z-index: 1000;
}

div.results{
    margin: 50px 0 0 200px;
}