*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

div.chooseScreen{
text-align: center;
margin:20px auto;
}

div.chooseScreen p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

div.chooseScreen button{
    margin-left: 50px;
    font-size: 30px;
    padding: 5px;
    width:100px;
    border: 1px solid rgb(0, 0, 100);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

div.chooseScreen label{
    font-size: 20px;
}


div.container{
    line-height: 20px;
}

div.container.small{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.container.mid{
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.container.big{
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
}

div.square{
    width:20px;
    height: 20px;
    border:1px solid white;
    color:black;
    font-size: 0;
    text-align: center;
}

div.container div.goodSquare{
    background-color: rgb(0, 170, 0);
}

div.container div.square.badSquare{
    background-color: rgb(200, 0, 0);;
}

#hide{
    background-color: rgb(0, 0, 100);;
}


div.loose{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    width: 400px;
    height: 150px;
    background-color: #000;
    color:white;
    text-align: center;
    line-height: 150px;
    display: none;
    text-transform: uppercase;
    z-index: 1000;
}

div.win{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    width: 600px;
    height: 150px;
    background-color: #000;
    color:white;
    text-align: center;
    line-height: 150px;
    display: none;
    text-transform: uppercase;
    z-index: 1000;
}

div.results{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


@media only screen and (max-width:700px){

    div.chooseScreen p{
        font-size: 20px;
    }
    
    div.chooseScreen button{
        font-size: 20px;
    }
    
    div.chooseScreen label{
        font-size: 15px;
    }
    
    
    div.container{
        line-height: 10px;
    }
    
    div.container.small{
        width: 100px;
        height: 100px;
    }
    
    div.container.mid{
        width: 200px;
        height: 200px;
    }
    
    div.container.big{
        width: 300px;
        height: 300px;
    }
    
    div.square{
        width:10px;
        height: 10px;
    }

    
    div.loose{
        font-size:30px;
        width: 300px;
        height: 100px;
        line-height: 100px;
    }
    
    div.win{
        font-size:30px;
        width: 300px;
        height: 100px;
        line-height: 100px;
    }
    
    div.results{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
}